body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.word {
  font-size: 3rem;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.chinese-button {
  background-color: #4CAF50; /* 绿色背景 */
  color: white; /* 白色文字 */
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  margin: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 2px solid ; /* 选中时的边框 */

}

.chinese-button.selected {
  background-color: #45a049; /* 选中时的颜色 */
  border: 2px solid #FFD700; /* 选中时的边框 */
}

.chinese-button.correct {
  border: 2px solid green; /* 正确答案的边框 */
}

.chinese-button.incorrect {
  border: 2px solid red; /* 错误答案的边框 */
}

.chinese-button:hover {
  background-color: #45a049; /* 悬停时的颜色 */
}

.score {
  font-size: 2rem;
}

.button-wrapper {
  margin-top: 20px; /* 按钮与其他内容的间距 */
}

.submit-button, .next-button {
  background-color: #007BFF; /* 蓝色背景 */
  color: white; /* 白色文字 */
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover, .next-button:hover {
  background-color: #0056b3; /* 悬停时的颜色 */
}

.result-container {
  text-align: center; /* 中心对齐 */
  margin-top: 20px; /* 上边距 */
}

.result.correct {
  color: green; /* 正确答案的颜色 */
}

.result.incorrect {
  color: red; /* 错误答案的颜色 */
}